body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: x-large;
    color: #ffffff;
}
.scool{
    background-image: url(school.jpg);
}
.nice{
    background-image: url(images.jpg);
}
.skeels{
    background-image: url(skeels.jpg);
}
.proj{
    background-image: url(food.jpg);
}
div{
    margin-top: 20%;
    background:linear-gradient(to right, rgba(0, 60, 255, 0.379),rgba(0, 255, 89, 0.418));
}
a{
    color: aliceblue;
}