body{
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}
div{
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    height: 200px;
    margin-left:  10%;
    margin-top: 5%;
    float:left;
}

#red{
    background-color: rgb(255, 0, 0);
    rotate: -10deg;
}
#yellow{
    background-color: rgb(255, 255, 0);
    rotate: 10deg;
}
#orange{
    background-color: rgb(255, 165, 0);
    rotate: -20deg;
}
#green{
    background-color: rgb(0, 255, 0);
    rotate: 30deg;
}
#blue{
    background-color: rgb(78, 155, 255);
    rotate: 5deg;
}
p:hover{
animation: fadein 2s ease forwards;
}
div > p{
    animation:fadein 5s ease;
}

@keyframes myexpand {
    0% {
      height: 100px;
    }
    100% {

      height: 500px;
    }
  }
 
  @keyframes myexpand1 {
    0% {
      height: 200px;
      width: 200px;
    }
    100% {
        height: 500px;
        width: 500px;
    }
  }
 
@keyframes fadein{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
/* <h1>About me</h1>
<p>Hi I'm Victor, a vibrant individual whose life unfolds against the backdrop of Chișinău, the capital city of Moldova. Nestled in the heart of Eastern Europe, I navigate the rhythm of daily life in this diverse and culturally rich urban landscape. As a resident of Chișinău, I experience the unique blend of historical charm and modern dynamism that defines this city. From its picturesque architecture to the bustling city life, my story is woven into the vibrant tapestry of Chișinău.</p>
<h1>My Skills</h1>
<p>I possess a remarkable set of skills that extend across diverse domains, showcasing my multifaceted talents. On the basketball court, my agility, precision, and strategic thinking makes me a formidable player. Whether sinking impressive shots from the three-point line or demonstrating finesse in defensive maneuvers, my prowess on the basketball court reflects both dedication and innate ability</p>
<h1>Education</h1>
<p>When I first time came to school I was amazed. My teachers, with their dedication and expertise, guided me through various subjects, patiently answering questions and providing valuable insights. Their encouragement and support played a pivotal role in helping me accumulate knowledge, fostering a love for learning that continues to shape my educational journey.</p>
<h1>My Projects</h1>
<p>In my IT project, I explored the intersection of technology and eating healthy . Eating healthy is crucial for overall well-being. A balanced diet provides essential nutrients that support physical and mental health. It boosts the immune system, maintains weight, and lowers the risk of chronic diseases. Nutrient-rich foods fuel the body, enhance energy levels, and promote proper organ function. Additionally, a healthy diet positively impacts mood and cognitive function, contributing to better mental health. Making mindful food choices is an investment in long-term health, ensuring a vibrant and fulfilling life.</p>
<h1>My Contacts</h1>
<p>victormotornii361@gmail.com si 060981996</p> */